{% extends "base/base.tpl.twig" %}
{% set translateMonthHash = { 
        "January": "Janvier", 
        "November": "Novembre"
    } 
%}

{% block body %}

{% if isConnected %}

<div class="profile-container">

<div class="profile">

    {% if profileEditing %}
    
    <div class="profile-header">
        {# Class = profile-edit__picture #}
        <img class="profile__picture" src="/src/img/profile-picture.png" alt="Photo de profil">
    </div>

    <div class="profile-main">

        {# Class = profile-edit__username #}
        <div class="profile__username">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Nom d'utilisateur" value="{{ user.username }}">
        </div>

        {# Class = profile-edit__infos #}
        <div class="profile__infos">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Prénom" value="{{ user.name }}">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Nom" value="{{ user.lastname }}">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Mail" value="{{ user.mail }}">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Confirmer le nouveau mail">
        </div>

    </div>

    <div class="profile-footer">
        <div class="login__form-foot">
            <button class="profile-form__submit-btn" onclick="window.location.replace('/profil')">Enregistrer</button>
        </div>
    </div>

    {% else %}

    <div class="profile-header">
        <img class="profile__picture" src="/src/img/profile-picture.png" alt="Photo de profil">
    </div>

    <div class="profile-main">
        <div class="profile__username">
            <p>{{ user.username }}</p>
        </div>

        <div class="profile__infos">
            <p class="profile__infos-line">{{ user.name }} {{ user.lastname }}</p>
            <p class="profile__infos-line">{{ user.mail }}</p>
            <p class="profile__creation-date">Membre depuis {{user.creationdate }}</p>
        </div>

        <div class="profile__actions">
            <span class="profile__action-line" onclick="window.location.replace('/profil/edit')">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Editer mon profil</p>
            </span>
            <span class="profile__action-line" onclick="window.location.replace('/profil/password')">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Modifier mon mot de passe</p>
            </span>
            <span class="profile__action-line" onclick="window.location.replace('/profil/logout')">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Déconnexion</p>
            </span>
        </div>
    </div>

    <div class="profile-footer">
    </div>
       
        {% if passwordEditing %}

        <div class="pwd-edit__container">
            <div class="pwd-edit profile-form__container">

                <div class="login__form-main">

                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-old" id="pwdEditOld" class="profile-form__input" placeholder="Ancien mot de passe" required>
                    </div>
                    
                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-new" id="pwdEditNew" class="profile-form__input" placeholder="Nouveau mot de passe" required>
                    </div>
                    
                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-new" id="pwdEditNewConfirm" class="profile-form__input" placeholder="Confirmer le mot de passe" required>
                    </div>

                </div>
                
                <div class="login__form-foot">
                    <button class="profile-form__submit-btn" onclick="window.location.replace('/profil')">Enregistrer</button>
                </div>
            
            </div>
        </div>

        {% endif %}

    {% endif %}

</div>

</div>

{% else %}

<div class="no-profil">

    <img class="no-profil__logo" src="src/img/logo.png" alt="Logo A.A.A.">

    <button onclick="window.location.href = '/connexion'" class="no-profil__login-btn">Se connecter</button>

    <div class="no-profil__register">
        <p>
            Pas encore membre ?
            <span onclick="window.location.href = '/inscription'" class="no-profil__link">S'inscrire maintenant!</a>
        </p>
    </div>

</div>

{% endif %}

{% if passwordEditing or profileEditing %}
{{ include('component/toast.twig', {type: 'error', title: 'Fonctionnalité non disponible'}) }}
{% endif %}

{% endblock %}
